_build/
\#*
*.lp
!hol_theory.lp
!encoding.lp
!erasing.lp
!renaming.lp
*.dk
!hol_theory.dk
*.prf
*.sig
*.lpo
*.dko
lambdapi.pkg
*.pos
*.thm
*.use
*.mk
*.dg
*.v
!coq.v
*.vo
*.conf
*.d
*.vman
*.vok
*.vos
_CoqProject
