on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    paths:
      - '*.ml'
      - 'Makefile'
      - 'dune'
      - 'dune-project'
      - 'config'
      - 'patch'
      - 'unpatch'
  workflow_dispatch:
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        dune-version: [3.20.2]
        ocaml-version: [5.3.0]
        camlp5-version: [8.03.06]
        hol-light-version: [3.1.0]
        hol-light-commit: [37af947]
        lambdapi-version: [master] # >= 3.0.0
        dedukti-version: [2.7]
    runs-on: ubuntu-latest
    steps:
    # actions/checkout must be done BEFORE avsm/setup-ocaml
      - name: Checkout hol2dk
        uses: actions/checkout@v6
      - name: Install opam
        uses: avsm/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}
      - name: Install dune
        run: opam install -y dune.${{ matrix.dune-version }}
      - name: Compile hol2dk
        run: |
          eval `opam env`
          dune build
          dune install
      - name: Install dedukti
        run: |
          opam install -y dedukti.${{ matrix.dedukti-version }}
      - name: Install lambdapi
        run: |
          git clone --depth 1 -b ${{ matrix.lambdapi-version }} https://github.com/Deducteam/lambdapi
          sudo apt-get install -y libev-dev
          opam pin lambdapi lambdapi
          opam install -y lambdapi
      - name: Install camlp5
        run: |
          opam pin camlp5 ${{ matrix.camlp5-version }}
      - name: Install HOL-Light dependencies
        run: |
          opam install -y --deps-only hol_light.${{ matrix.hol-light-version }}
      - name: Get hol-light and patch it
        run: |
          eval `opam env`
          export HOL2DK_DIR=`pwd`
          export HOLLIGHT_DIR=`pwd`/hol-light
          git clone https://github.com/jrh13/hol-light
          cd hol-light
          git checkout ${{ matrix.hol-light-commit }}
          make
          hol2dk patch
      - name: Dump proofs
        run: |
          eval `opam env`
          export HOL2DK_DIR=`pwd`
          export HOLLIGHT_DIR=`pwd`/hol-light
          cp test/hol_upto_arith.ml test/hol_lib_upto_arith.ml hol-light/
          cd hol-light
          hol2dk dump-simp-before-hol hol_upto_arith.ml
      - name: Test single-threaded dk output
        run: |
          eval `opam env`
          export HOL2DK_DIR=`pwd`
          export HOLLIGHT_DIR=`pwd`/hol-light
          make -f test.mk test1
      - name: Test single-threaded lp output
        run: |
          eval `opam env`
          export HOL2DK_DIR=`pwd`
          export HOLLIGHT_DIR=`pwd`/hol-light
          make -f test.mk test2
      - name: Test multi-threaded dk output with mk
        run: |
          eval `opam env`
          export HOL2DK_DIR=`pwd`
          export HOLLIGHT_DIR=`pwd`/hol-light
          make -j3 -f test.mk test3
      - name: Test multi-threaded lp output with mk
        run: |
          eval `opam env`
          export HOL2DK_DIR=`pwd`
          export HOLLIGHT_DIR=`pwd`/hol-light
          make -j3 -f test.mk test4
      - name: Test multi-threaded lp output with split
        run: |
          eval `opam env`
          export HOL2DK_DIR=`pwd`
          export HOLLIGHT_DIR=`pwd`/hol-light
          make -j3 -f test.mk test5
